/* Define o body geral para que todas as páginas sigam o mesmo padrão */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

/* Centraliza o conteúdo retornado pela função  */
.conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

/* Mais um container para centralização */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* outro container para garantir a centralização */
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
}