/* Define a estrutura da barra de navegação */
nav {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100vh;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #729de2ea;
    padding-right: 1%;
    padding-top: 2%;
}

/* Estiliza os links dentro da barra de navegação */
nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    transition: background-color 0.3s;
}

/* Define o estilo de hover para os links, alterando a cor de fundo quando o mouse é passado sobre eles */
nav a:hover {
    background-color: #4188dadc;
}
