ul {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.dataCriacao {
    padding-top: 10px;
}

.cardTarefa {
    display: flex;
    align-items: normal;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.tituloCard {
    font-weight: bold;
}

.icon-edit {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}