/* Define o estilo para os cabeçalhos h2, especificando a cor, alinhamento do texto, tamanho da fonte, posição, largura, padding e margem superior */
h2 {
    color: #24292e;
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 4px;
    margin-top: 3%;
}

/* Estiliza o contêiner das tarefas concluídas para exibição em uma coluna centralizada vertical e horizontalmente */
.concluidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
