/* Estiliza o contêiner de filtragem de tarefas */
.tarefasFiltro {
    margin-top: 0%;
    padding-top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
